%article
  %h1 About

  %section
    %h2 $&gt;whoami

    %p
      My name is Andrew and I like coffee.
      And also coding, automation and design.

    %p
      And coffee.

  %section
    %h2 What is this?

    %h3 Blog
    Yet another blog. Yes. Sharing, caring and all the things.

    %h3 Notebook
    My notebook as well. Tricky problems solutions fall right here.
    "How did I do that a year ago?" I'll get here and look.

    %h3 Portfolio
    I'm on my way to become full-stack rails developer.
    This site is designed, developed and deployed by me.

  %section
    %h2 My other projects

    %h3 more-responsive-less-ui(MRLU)
    LESS UI framework, inspired by bootstrap.

    %h3 m_d_e
    Or MarkDown Editor. Two-sided markdown editor with live preview.

    %h3 tjax
    Ruby on Rails gem to render mathematical formulas and preview
    it in real time. Suggested use of m_d_e.

    %h3 nodebook
    My view on combining evernote, wiki and mind map conception.
    Also uses MRLU, m_d_e and tjax.
