%h2 Contact me
%h3
  In case you want to tell about website issue or 
  if you want to hire me

%h4 My skills:
%ul
  %li Ruby on Rails development
  %li handle frontend, backend and server administration
  %li optimize build processes (e.g. with gulp, grunt, rake, capistrano)
  %li set up deployment automation

%h2 So contact me

= render partial: 'hireme_form'
