- @posts.each do |p|
  %h2
    = p.title
    %noindex
      %small posted #{time_ago_in_words(p.created_at)} ago
  %article.render{ 'data-source' => p.snippet}
    %span.flaticon.flaticon-preloader
  %noindex
    %a.btn{ href: post_path(p) }
      %span.flaticon.flaticon-eye
      View
