%h1 Newest posts
- if @posts.any?
  = render 'posts'
- else
  %h3 There are no posts yet.
  %a.btn{ href: new_post_path }
    %span.flaticon.flaticon-pen
    Compose one
- render partial: 'shared/tags'

- content_for :title do
  = raw "Latest posts"
- content_for :meta_description do
  = raw "List of posts, latest first."
