/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require 'normalize.css'
 *=require 'posts'
 */

@import 'more-responsive-ui.less';

@_color-primary:    #c22525;
@_color-secondary:  #53bd9d;

@color-header-background: @_color-primary;
@color-header-text:       white;

body {
  overflow-x: hidden;
}

header.navbar {
  @media(min-width: @media-sm-min){
    width: 100vw;
    left: 12vw;
  }
  @media(min-width: @media-hh-min) and (max-width: @media-hh-max){
    display: none;
  }
  background: @color-header-text;
  *{color:      @color-header-background;}
}

aside.navbar{
  @media(min-width: @media-hh-min) and (max-width: @media-hh-max){
    .col-center;
    position: relative;
    .flaticon {
      &:before{
        font-size: 30vmin;
        padding: 0;
        margin: 0;
      }
    }
    .flaticon-arrow-up{ //hide "up" button
      &:before { display: none;}
    }
  }
  @media(min-width: @media-sm-min){
    width: 12vw;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .flaticon {
      &:before{
        font-size: 4vmin;
        padding: 0;
        margin: 0;
      }
    }
    .flaticon-coffee{
      &:before{
        font-size: 8vmin;
      }
    }
    @media(orientation: landscape) and (max-height: @media-hh-max){
      height: 120vh;
    }

    nav {
      height: 50%;
    }
  }
}

aside#tags{
  @media (min-width: @media-md-min) and (max-width: @media-lg-max){
    position: fixed;
    width: 15vw;
    right: 0;
    top: 10vw;
    margin: 0;
    padding: 1vw;
  }
  @media (min-width: @media-hh-min) and (max-width: @media-sm-max){
    display: none;
  }

  nav>ul>li{
    justify-content: flex-end;
  }
}

.modal.opened{
  @media(min-width: @media-hh-min) and (max-width: @media-hh-max){
    width: 90vw;
    left: 5vw;
  }

  @media(min-width: @media-sm-min) and (max-width: @media-lg-max){
    width: 60vw;
    left: 20vw;
    top:  20vh;
  }
}

.content {
  @media(min-width: @media-sm-min) and (max-width: @media-lg-max){
    width: 60%;
    margin-left: 16%;
  }
  @media(min-width: @media-hh-min) and (max-width: @media-hh-max){
    width: 100%;
  }
}
