// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#mde{
  width: 80vw;
}

h1,h2,h3,h4,h5,h6 {
  small{
    font-size: 12px;
    color: gray;
  }
}

#search_modal{
  .modal-content{
    h3:first-of-type{ margin-top: 0px;}
  }
}

.input.post_content { visibility: hidden; }
